<% provide(:title, "Home") %>
<div class="center jumbotron">

	<h1>Welcome to the Sample App</h1>

	<h2>
		Thanks for using Sampple Application. <br/>		
	</h2>

	<%= link_to "Sign up now!", "#", class: "btn btn-lg btn-primary" %>

</div>
	
<%= link_to image_tag("rails-logo.svg", size: "78x80", alt: "Rails logo"), 'http://rubyonrails.org' %>