/* Footer CSS - Copied from Rails Tutorial Video */

/* mixins, variables, etc */

@mixin box_sizing {
	-moz-box-sizing:    border-box;
	-webkit-box-sizing: border-box;
	box-sizing:         border-box;
}

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;

	a {
		color: #555;
	}

	&:hover {
		color: #222;
	}

	small {
		float:left;		
	}

	ul {
		float:right;
		list-style: none;
		margin-top: -55px;
		li {
			float: left;
			margin-left: 15px;
		}
	}
}

#ruby-logo {
	margin-left: 540px;
	margin-top: -45px;
	height: 80px;
	width: 80px;
}

/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}